body {
    background: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
    box-sizing: border-box;
}
.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 97%;
}
.my-photo {
    width: 370px;
    height: 450px;
}
.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    }
.contacts-container-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
    }
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8891a0;
    }
.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
    }
.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}
.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #f2670b;
    margin-left: 15px;
    }
.tech-skills-text {
    color: #c7c9cd;
}
.tech-skills-container ul {
    padding: 0px;
}
.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}
.soft-skills-text {
    color: #c7c9cd;
    }
.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #f2670b;
    margin-left: 15px;
}
.soft-skills-container ul {
    padding: 0px;
}
.about-me {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.me-cont {
    margin-bottom: 65px;
    }
.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.project-container {
    margin-bottom: 55px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    }
.projects-item {
    font-weight: 700;
    margin-left: 17px;
}
.projects-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.dots {
    color: #adadad;
    font-weight: 100;
}
.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.place-ed {
    color: #ff6b08;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.profession-ed {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.date-ed {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
}
.place-work{
    color: #ff6b08;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.date-work{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
}
.position {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px 0 10px 0;
}
.responsibilities{
    font-weight: 100;
    color: #747474;
    margin: 10px 0 10px 0;


}
.ed-divide {
    color: #000000;
}
footer {
    text-align: center;
    background: #1e2939;
    color: white;
    max-width: 1200px;
    margin: auto;
    height: 25px;

}
footer p {
    margin-top: 0px;
}